$carousel-item-height: 40px;

@mixin red-mixin() {
 color: red;
}

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin:0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.LoginPage{
  // @include zero-margin(1px, $carousel-item-height);
  // @include red-mixin();
  min-height: 100vh;

  position: relative;
  .container{
    padding: 45px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.Content{
  background-color: #09B451;
  position: relative;
}

.menu{
  position: absolute;
  h3{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    :hover{
      opacity: 0.8;
    }
  }
}

.Des{
  width: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
  div{
    min-width: 310px;
    h1, h3, p{
      color: #fff;
      font-style: normal;
      line-height: normal;
      text-align: left;
    }
    h1{
      font-size: 34px;
      font-weight: 600;
    }
    h3{
      font-size: 24px;
      font-weight: 400;
      padding-bottom: 20px;
    }
    p{
      font-size: 13px;
      font-weight: 300;
    }
  }
  img{
    width: 100%;
  }

}

.LoginForm{
  position: absolute;
  z-index: 3;
  width: 500px;
  background-color: #fff;
  right: 30px;
  top: 80px;
  min-height: 600px;
  padding: 30px 30px;
  border-radius: 40px;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}

.listItem{
  display: flex;
  max-width: 500px;
}

.item{
  width: 145px;
  min-height: 100px;
  border-radius: 9px;
  background: #EFF8FF;
  padding: 20px 10px;
  margin-right: 20px;
  position: relative;
  h4{
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px 0;
    padding-bottom: 5px;
  }
  p{
    color: #ADADAD;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  img{
    width: 76px;
    margin-top: 10px;
  }

  .CancelIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 13px;
    margin-top: 0;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      opacity: 0.6;
    }
  }
}

.item:last-child{
  margin-right: 0;
}


